@model IEnumerable<BillModel>

@{
    ViewBag.Title = "All bills";
    string buildingId = "2";
}

<div class="text-center">
    <h2>All bills</h2>
    <hr />

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Issuer Name</th>
                <th scope="col">Month</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in Model)
            {
                <tr>
                    <td>@bill.IssuerName</td>
                    <td>@bill.Month</td>
                    <td>@Math.Round(bill.Total, 2)</td>
                    <td>
                        <form method="put" asp-action="editbill" asp-controller="building">
                            <input type="hidden" name="buildingId" value="@buildingId">
                            <input type="hidden" name="billId" value="@bill.Id.ToString()">
                            <button class="btn btn-warning">Edit</button>
                        </form>
                        <form method="post" asp-action="DeleteBill" asp-controller="Building">
                            <input type="hidden" name="billId" value="@bill.Id">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr/>
    
<form method="post"  asp-controller="Building" asp-action="AddBill" asp-action-buildingId="@buildingId">

    @*<p>Hardcoded building id 2 for now</p>*@
    <table>
        <tbody>
            <tr>
                <td>
                    <label>Bill Issuer Name</label>
                </td>
                <td>
                    <input type="text" name="issuerName" class="form-control" />
                </td>
                <td>
                    <label>Bill Month</label>
                </td>
                <td>
                    <input type="text" name="month" class="form-control" />
                </td>
                <td>
                    <label>Bill Total</label>
                </td>
                <td>
                    <input type="text" name="total" class="form-control" />
                </td>
                <td>
                    <button class="btn btn-primary">Add Bill</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</form>
</div>