@model AdminUp.Models.MonthlyExpensesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@Model.Building.Name</h2>
    <p>@Model.Building.Address</p>
    <h1>@Model.Month @Model.Year</h1>
    <hr/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Owner</th>
                <th scope="col" title="Number of residents in the appartment.">Pers</th>
                <th scope="col" title="Building Total / Number of Building Residents * Appartment Residents.">@Model.Bills[0].IssuerName</th>
                <th scope="col" title="Building Total / Number of Building Residents * Appartment Residents.">@Model.Bills[1].IssuerName</th>
                <th scope="col" title="Building Total / Number of Building Residents * Appartment Residents.">@Model.Bills[2].IssuerName</th>
                <th scope="col" title="Previous unpaid monthly appartment bills.">Debt</th>
                <th scope="col" title="Total amount to pay for the current month.">Total</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appartment in Model.Appartments)
            {
                <tr>
                    <td>@appartment.Number</td>
                    <td>@appartment.OwnerId</td>
                    <td>@appartment.NumberOfInhabitants</td>
                    <td>@(Math.Round(Model.Bills[0].Total / Model.TotalInhabitants * appartment.NumberOfInhabitants, 2))</td>
                    <td>@(Math.Round(Model.Bills[1].Total / Model.TotalInhabitants * appartment.NumberOfInhabitants, 2))</td>
                    <td>@(Math.Round(Model.Bills[2].Total / Model.TotalInhabitants * appartment.NumberOfInhabitants, 2))</td>
                    <td> 0.00 </td>
                    <td>@(Math.Round(Model.Bills[0].Total / Model.TotalInhabitants * appartment.NumberOfInhabitants
                                    + Model.Bills[1].Total / Model.TotalInhabitants * appartment.NumberOfInhabitants
                                    + Model.Bills[2].Total / Model.TotalInhabitants * appartment.NumberOfInhabitants, 2)) </td>
                    <td>@appartment.Number</td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
